@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
*{
    
    font-family:'Playfair Display SC', serif;
    margin: 0;
  
   
   
  
    
}

/*encabezado*/
header{
    
    position: relative;
    height:300px;
    width: 100%; 
    margin-top: 1%;

}

.saliente{

    position:fixed;
    top: 25px;
    right:0;
    height: 50px;
    width: 15px;
    background: linear-gradient(to bottom , #ff7d04 ,rgba(255, 129, 25, 0.952), #fcf7ba 50%,rgba(255, 129, 25, 0.952), #ff7d04  );   
    border-radius: 40% 0% 0% 50%;
    box-shadow: -2px 0px 2px 0px  rgba(0,0,0,0.25);
    z-index: 40;
  
  
    
}
.saliente:hover{
    padding-left: 5px;
    transform-origin: right  0%;
    transition: 0.2s;
    opacity: 0.5;
 
}
.saliente:hover .tooltip {
    visibility: visible;
    transition-duration: 1s;
    
}


.tooltip{
    position: absolute;
    background-color: #000;
    padding: 10px  15px;
    border-radius: 7px;
    color: #fff;
    opacity: 1;
    visibility: hidden;
    transition:  1s ease;
     right: 35px;
    top: 33px;
    z-index: 0;
    transform: translateY(-30px);
    width: 50px;
    font-size: 10px

}

.tooltip::before{
    content: "";
    position: absolute;
    top: 27%;
    left: 99%;
    border: 9px solid;
    border-color: #000 #0000 #0000 #0000;
    transform: rotate(-90deg) ;
 
}



.logoSushiito{
    height: 120px;
    position: absolute;
    margin: 0;
    top:50%;
    left: 50%;
    transition: 0.5s ease-in-out;
    transform: translate(-50%,-50%);
}

.logoSushiito:hover{
   
    opacity: 0.5;
    transform: rotate(-10deg)  scale(1.1) translate(-50%,-50%) ;
    transform-origin: center;
    
   
}

.michelin img{
    position: absolute;
    height: 110px;
    transform: translateY(-90px);
    left: 0%;
    z-index: 30;
 
}
.sello img{
    position: absolute;
    height: 75px;
    transform: translateY(-80px);
    right:10px;
    z-index: 10; 
   
}

    #cupondescuento{
    position: relative;
     border-radius: 10% 0% 0% 20%;
     box-shadow: -4px 0px 2px 0px  rgba(0,0,0,0.25);
     height: 80px;
     width: 130px;
     z-index: 40;
     display: none;
     transform: translate(-83%);
     top: -15px;

 } 

#cupondescuento:target {
   opacity:1;
   display: block;
     
  }

/*encabezado*/

/* nav */

nav{
    
    background: linear-gradient(to right, #77491f , ivory ,#77491f  );   
    box-shadow: 0px 0px 6px 0px  #77491f ;
    width: 100%; 
  
   
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding: 0;
 
}

.nav:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 800px){
    
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
      
      }
}

nav li a {
    color:black;
    display: block;
    text-decoration: none;
    padding: 15px 40px;
  transform: translateY(6px);
    
}

.redes{


  transition: 2s ease-in;
 

}

.redes a:hover{
    opacity: 0.3;
    
}

.contacto {
    position:relative;
    justify-content: space-between;
    color:#ff8b1e;  
    font-size: small; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 5px;
    margin-bottom: 50px;
    top: 30px;
    
  
 

}

p.contacto{
    width: 300px;
    padding-left: 0px;

}



.twitter {
    
    color: rgb(17, 128, 202);
    margin: 10px;
    
}


.facebook {
    color: blue;
    margin: 10px;

    
}
.pinterest{
   
    color: red;
    margin: 10px;
   
}
.instagram{

    color: rgb(190, 107, 184);
    margin: 10px;
   
   
}
.google{
   
    color: rgb(240, 94, 94);
    margin: 10px;
 
  
}

/*principal*/

main{
    
    position: relative;
    margin-top: 10%;
    height: auto;
    width: 100%;
    overflow: hidden;
  

}
@media screen and (max-width: 800px){
    main{
        margin-top: 20%;
    }

    }

article{

margin-bottom: 40px;
height: auto;
width: 100%;


}

h6{
    display: none;
}
   

h1 , h2{      
 color: rgb(37, 144, 173);
 text-align: center;


}




.bannerfixed {

    background-image: url("../imagenes_evaluable2/fr1_nigirisushi.jpg");
    min-height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 1px inset #000 ;
    
  }
article {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 100%;
}

.cita1{
   
    text-align: justify;
    width:80% ;
    padding-left: 20px;
    border-left:  #2590ad  3px solid;
    transform: translate(8%,0%);
    margin-bottom: 100px;
 
}
.cita1 ::after{
  content: "Hichito Nishimura: Gerente de Sushitto";
  opacity: 0.5;
 position: absolute;
  bottom: -70px;
  right: 0px;
  justify-content:center;
}


hr {
    border-top: 4px solid rgb(0, 0, 0);
    width: 40%;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 40px;   

}
.medioindex{

display: flex;
flex-wrap: wrap;
height:20%;
width: 70%;
justify-content: space-around;
transform: translateX(25%);
 
}


.texto{
 width: 650px;
 font-size: 12px;
 margin-top: 20px;
 padding-bottom: 20px;

}

.exclusivo{
  color: #2590ad;
  text-align: center;
  font-size: large;
  padding: 30px;
 
 
}

.repartidor{
    width: 200px;
    box-shadow:  0px 0px 5px 1px  gray ;
  
}

.fotos{
   display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    width: 90%;
    margin: auto;
    margin-bottom: 80px;
}

.fotosfuera{
    margin: 20px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    height: 240px;
    width: 130px;
    text-align: center;
    font-size: 12px;
    
}
.fotosPlatos1{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/superBento.jpg") ;
    background-size: 330px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  

}

.fotosPlatos2{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/besoDragon.jpg") ;
    background-size: 350px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}

.fotosPlatos3{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/bentoFantasia.png");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}

.fotosPlatos4{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/gambasMoriwase.jpg");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}
.fotosPlatos5{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/miniBento.jpg");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}
.fotosPlatos6{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/atunPicante.jpg");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}

.fotosPlatos1:hover , .fotosPlatos2:hover,.fotosPlatos3:hover, .fotosPlatos4:hover ,.fotosPlatos5:hover, .fotosPlatos6:hover  {
    opacity: 0.5;
}

@media screen and (max-width: 800px){ /*  tarjetas*/
    
    .fotosfuera{
       
        width: 200px; 
    }
  
    .fotosPlatos1,  .fotosPlatos2 , .fotosPlatos3 , .fotosPlatos4 , .fotosPlatos5 , .fotosPlatos6 {
   
        width: 200px;
}
}
/*  tarjetas*/

/* colage */


.colagefotos{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 50% 50%;
    grid-gap: 2px;
    width:80%;
    margin: auto;
    height: 500px;
 
}

.hijo1{
   
  
   grid-column:1/2 ;
   grid-row: 1/2;
   background-image: url("../imagenes_evaluable2/andrewNishimura.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 60%;
   background-attachment:local;
   border-radius: 5px;
   box-shadow:  0px 0px 3px 1px  gray ;
   filter: sepia(100%);
  

}


.hijo1:hover{
transform: rotate(360deg);
transition: 0.5s;

}

.hijo2{

    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url("../imagenes_evaluable2/nakaneNishimura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 55%;
    border-radius: 5px;
    box-shadow:  0px 0px 3px 1px  gray ;
    filter: blur(2px);
 
 }

 .hijo2:hover{
   filter: blur(0);
   transform: scale(.6) rotate(20deg);
   transition: 0.5s;
   
    }
 .hijo3{
   
    
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("../imagenes_evaluable2/hichitoNishimura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    border-radius: 5px;
    box-shadow:  0px 0px 3px 1px  gray ;
    filter: grayscale(100%);
   

 }

 .hijo3:hover{

    transform: rotateY(180deg);
    transition: 0.5s;
 }

 .hijo4{
    grid-column:1/2 ;
    grid-row: 2/3;
    background-image: url("../imagenes_evaluable2/joeNishimura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 5px;
    box-shadow:  0px 0px 3px 1px  gray ;
 }

 .hijo4:hover{

    transform: rotateX(180deg);
    transition: 0.5s;
 }

 .hijo5{
    grid-column:3/4 ;
    grid-row: 2/3;
    background-image: url("../imagenes_evaluable2/fredNishimura.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    border-radius: 5px;
    box-shadow:  0px 0px 3px 1px  gray ;
    filter: sepia(100%);
 }
 .hijo5:hover{

    transform: skew(20deg);
    transition: 0.5s;
 }
 
/* colage */


section.citas{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
   
}




.citaandrew{
    background-image: url("../imagenes_evaluable2/andrewNishimura.jpg");
    background-size: 330px;
    background-repeat: no-repeat;
    background-position: 67% 17%;
    border-radius: 5px;
    box-shadow:  3px 1px 5px 1px  rgb(51, 49, 49) inset  ;
    width: 90px;
    height: 90px;
    border-radius: 50% ;
    animation-duration: 2s;
    animation-iteration-count: 3.5;
    transform-origin: bottom;
    margin-right: 20px;

}
.citaHichito{
    background-image: url("../imagenes_evaluable2/hichitoNishimura.jpg");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 76% 12%;
    border-radius: 5px;
    box-shadow:   3px 1px 5px 1px   rgb(51, 49, 49) inset  ;
    width: 90px;
    height: 90px;
    border-radius: 50% ;
    animation-duration: 2s;
    animation-iteration-count: 3.5;
    transform-origin: bottom;
    margin-left: 20px;
     
}
.citafred{
    background-image: url("../imagenes_evaluable2/fredNishimura.jpg");
    background-size: 310px;
    background-repeat: no-repeat;
    background-position: 82% 9%;
    border-radius: 5px;
    box-shadow:  3px 1px 5px 1px  rgb(51, 49, 49) inset  ;
    width: 90px;
    height: 90px;
    border-radius: 50% ;
    animation-duration: 2s;
    animation-iteration-count: 3.5;
    transform-origin: bottom;
    margin-right: 20px;

}

.citanakane{
    background-image: url("../imagenes_evaluable2/nakaneNishimura.jpg");
    background-size: 190px;
    background-repeat: no-repeat;
    background-position: 55% 0%;
    border-radius: 5px;
    box-shadow:   3px 1px 5px 1px   rgb(51, 49, 49) inset  ;
    width: 90px;
    height: 90px;
    border-radius: 50% ;
    animation-duration: 2s;
    animation-iteration-count: 3.5;
    transform-origin: bottom;
    margin-left: 20px;
     
}

.citajoe{
    background-image: url("../imagenes_evaluable2/joeNishimura.jpg");
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: 50% 9%;
    border-radius: 5px;
    box-shadow:  3px 1px 5px 1px  rgb(51, 49, 49) inset  ;
    width: 90px;
    height: 90px;
    border-radius: 50% ;
    animation-duration: 2s;
    animation-iteration-count: 3.5;
    transform-origin: bottom;
    margin-right: 20px;

}


.citaHichito:hover, .citaandrew:hover,.citafred:hover, .citanakane:hover, .citajoe:hover {
    animation-name: bounce ;
    animation-duration: .2s;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

section q {
   width: 79%;
   height: 20%;
   align-self: center;
   font-size: 17px;
   margin-bottom: 40px;
   margin-top: 20px;
   
}


.cita1texto, .cita3texto, .cita5texto{
    border-left: #2590ad 4px solid;
    padding-left:20px;
    text-align: left;

   
}

.cita2texto, .cita4texto{
    border-right: #2590ad 4px solid;
    padding-right:20px;
    text-align: right;
}





.autor1,.autor3, .autor5{
    opacity: 0.5;
    right: 30%;
    font-size: 15px;
    transform: translate(50%);
    margin-bottom: 30px;
  
    

}

.autor2, .autor4{
    opacity: 0.5;
    right: 35%;
    font-size: 15px; 
    transform: translate(40%);
    margin-bottom: 30px;
   
  
 
}

@media screen and (max-width: 800px){

  section  q{
      
        font-size: 9px;
        margin: 9px;
    
    }
    .autor1, .autor2, .autor3, .autor4, .autor5{
        font-size: 8px;
        transform: translate(150px);
        
    }
}

/*carta*/

h3{
    color: rgb(37, 144, 173);



}

.cartapadre{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      position: relative;
      font-weight: bolder;
      outline: #000 1px inset;
      z-index: 0;
     
  

  
}
.cartapadre ::after{
       content: "";
        width: 100%;
        height: 100%;
        background-image: url("../imagenes_evaluable2/sushitoRestaurant.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.9%;
        display: block;
        z-index: 10;

  }
 



 
.carta{
    width:auto;
    font-size:10px;
    text-align: center; 
    margin: 4%;
    line-height: 8em;
}
   
@media screen and (max-width: 800px){
    .cartapadre{
     flex-direction: column;
    }
    .carta{
    font-size:15px;
    line-height: 9em;
    }
}
.carta ul{

   
    list-style: none;
    padding: 1em;
    line-height:5em;

}
 .menudiario::first-line {
   
    font-size: larger;
    color: #db0707;
    line-height: 1em;
}
iframe{
    border-radius: 5% 50%;
    width: 400px;
    height: 400px;
    box-shadow: 0px  1px 7px 1px black;
  
}
h3{
    text-align: center;
  
    padding: 25px;
}

.info ul{
line-height: 2em;
list-style: none;

}

.bannerfixeddos{
    background-image: url("../imagenes_evaluable2/fr2_sushitable.jpg");
    min-height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 1px inset #000 ;

}

.horario li:nth-child(1) {
   
   font-size: large;
    list-style:disc;
    font-weight: bolder;
}

.horario li:nth-child(4) {
   
    font-weight: bolder;
    list-style:disc;
    font-size: large;
   
}

.dos{
 width: 450px;
 margin-top: 30px;
 margin-bottom: 0px;
 border: 1px solid;
}

.info p{
    font-style: italic;
     color: grey;
     opacity: .6;
  
} 


    
.info span{
    font-weight:bolder;
    color: #000;
    font-size: medium;
    opacity: 1;
    
    
}


.mapa{

    width: 1000px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10%;

}

.info{
     outline: 1px solid #000;
     width: 500px;
     height:400px ;
     padding: 20px;
     border-radius: 5%;

}

/*pie */
 footer{
   
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 340px;
    font-size: 12px;
    padding-top: 20px;
    margin-top: 100px;
    overflow: hidden;
    bottom: 0;
    position: relative;

 }

 .internofooter{
     position: relative;
     height: 330px;
     overflow-x: scroll;
 
 }
 
 .footer1{
    color: #fff;
    margin-top: 40px;
    padding-bottom: 10px;
    position: absolute;
    width: 330px;
    left: 60px;
    padding-top: 6px;
   
    
 }
 .footer2{
    color: #fff;
    border-right: white 3px solid;
    border-left: white 3px solid;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-right: 90px;
    padding-left: 90px;
    width: 300px;
    position:absolute;
    bottom: 150px;
    left: 470px;
   
 }


 .footer3{
     
    color: #fff;
    height: 120px;
    margin-top: 40px;
    padding-bottom: 10px;
    width: 300px;
    position:absolute;
    bottom: 150px;
    left:1050px;

 }


 .footer4{
    
     height: 50px;
     color: #fff;
     padding-top: 60px;
     position: relative;
     top: 200px;
     left: 320px;
     width: 800px;
  
    
 }

 .footer1 span{
     color:rgb(182, 26, 26);
     font-size: 16px;
 }
 .footer1 ::first-line{
     color: #ff7d04;
     font-size: 16px;

 }

 .footer2 ::first-line{
    color: #ff7d04;
    font-size: 16px;

}

.footer3 ::first-line{ 
    color: #ff7d04;
    font-size: 16px;


}

/*pie */
