@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
*{
    
    font-family:'Playfair Display SC', serif;
    margin: 0;
   
  
    
}

header{
    
    position: relative;
    height:300px;
    width: 100%; 
    margin-top: 1%;

}

.saliente{

    position:fixed;
    top: 25px;
    right:0;
    height: 50px;
    width: 15px;
    background: linear-gradient(to bottom , #ff7d04 ,rgba(255, 129, 25, 0.952), #fcf7ba 50%,rgba(255, 129, 25, 0.952), #ff7d04  );   
    border-radius: 40% 0% 0% 50%;
    box-shadow: -2px 0px 2px 0px  rgba(0,0,0,0.25);
    z-index: 40;
  
  
    
}
.saliente:hover{
    padding-left: 5px;
    transform-origin: right  0%;
    transition: 0.2s;
    opacity: 0.5;
 
}
.saliente:hover .tooltip {
    visibility: visible;
    transition-duration: 1s;
    
}


.tooltip{
    position: absolute;
    background-color: #000;
    padding: 10px  15px;
    border-radius: 7px;
    color: #fff;
    opacity: 1;
    visibility: hidden;
    transition:  1s ease;
     right: 35px;
    top: 33px;
    z-index: 0;
    transform: translateY(-30px);
    width: 50px;
    font-size: 10px

}

.tooltip::before{
    content: "";
    position: absolute;
    top: 27%;
    left: 99%;
    border: 9px solid;
    border-color: #000 #0000 #0000 #0000;
    transform: rotate(-90deg) ;
 
}



.logoSushiito{
    height: 120px;
    position: absolute;
    margin: 0;
    top:50%;
    left: 50%;
    transition: 0.5s ease-in-out;
    transform: translate(-50%,-50%);
}

.logoSushiito:hover{
   
    opacity: 0.5;
    transform: rotate(-10deg)  scale(1.1) translate(-50%,-50%) ;
    transform-origin: center;
    
   
}

.michelin img{
    position: absolute;
    height: 110px;
    transform: translateY(-90px);
    left: 0%;
    z-index: 30;
 
}
.sello img{
    position: absolute;
    height: 9%;
    transform: translateY(-80px);
    right:10px;
    z-index: 10; 
   
}

    #cupondescuento{
    position: relative;
     border-radius: 10% 0% 0% 20%;
     box-shadow: -4px 0px 2px 0px  rgba(0,0,0,0.25);
     height: 80px;
     width: 130px;
     z-index: 40;
     display: none;
     transform: translate(-83%);
     top: -15px;

   

 } 



#cupondescuento:target {
   opacity:1;
   display: block;
   
    
  }

/* nav */

nav{
    
    background: linear-gradient(to right, #77491f , ivory ,#77491f  );   
    box-shadow: 0px 0px 6px 0px  #77491f ;
    width: 100%;

    
   
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding: 0;
 
}

.nav:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 800px){
    
    nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
      
      }
}

nav li a {
    color:black;
    display: block;
    text-decoration: none;
    padding: 20px 40px;
 
}

.redes{

  position: absolute;
  transition: 2s ease-in;
}

.redes a:hover{
    opacity: 0.3;
    
}

.contacto {
    position: absolute;
    right: 0;
    margin-top: 13px;
    color:#ff8b1e;  
    font-size: small; 
    margin-right: 1%;
}

@media screen and (max-width:800px ){
    
    .contacto {
        position:absolute;
        right: 0;
        color:#ff8b1e;   
       
    }
      }


.twitter {
    position: absolute;
    color: rgb(17, 128, 202);
    left: 10px;
    margin: 10px;
    
}


.facebook {
    position: absolute;
    color: blue;
    left: 40px;
    margin: 10px;
    
}
.pinterest{
    position: absolute;
    color: red;
    left: 65px;
    margin: 10px;
}
.instagram{
    position: absolute;
    color: rgb(190, 107, 184);
    left: 95px;
    margin: 10px;
}
.google{
    position: absolute;
    color: rgb(240, 94, 94);
    left: 125px;
    margin: 10px;
  
}


main{
    
    position: relative;
    width: 100vw;
    margin-top: 10%;
    height: auto;

}
article{


margin-bottom: 40px;
height: auto;

}
   

h1 , h2{      
 color: rgb(37, 144, 173);
 text-align: center;


}

.bannerfixed {

    background-image: url("../imagenes_evaluable2/fr1_nigirisushi.jpg");
    min-height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px 1px inset #000 ;
    
  }
article {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 100%;
}

.cita1{
   
    text-align: justify;
    width:80% ;
    padding-left: 20px;
    border-left:  #2590ad  3px solid;
    transform: translate(8%,0%);
    margin-bottom: 100px;
 
}
.cita1 ::after{
  content: "Hichito Nishimura: Gerente de Sushitto";
  opacity: 0.5;
 position: absolute;
  bottom: -40px;
  right: 0px;
  justify-content:center;
}


hr {
    border-top: 4px solid rgb(0, 0, 0);
    width: 40%;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 40px;   

}
.medioindex{

outline: #000 2px solid;
display: flex;
flex-wrap: wrap;
height:20%;
width: 70%;
justify-content: space-around;
transform: translateX(25%);
 
}


.texto{
 width: 650px;
 font-size: 12px;
 margin-top: 20px;
 padding-bottom: 20px;

}

.exclusivo{
  color: #2590ad;
  text-align: center;
  font-size: large;
  padding: 30px;
 
 
}

.repartidor{
    width: 200px;
    box-shadow:  0px 0px 5px 1px  gray ;
  
}

.fotos{
   display: flex;
    flex-wrap: wrap;
    outline: #000 2px solid;
    justify-content:space-around ;
    width: 90%;
    margin: auto;
    margin-bottom: 80px;
}

.fotosfuera{
    margin: 20px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    height: 240px;
    width: 130px;
    text-align: center;
    font-size: 12px;
    
}
.fotosPlatos1{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/superBento.jpg") ;
    background-size: 330px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  

}

.fotosPlatos2{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/besoDragon.jpg") ;
    background-size: 350px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}

.fotosPlatos3{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/bentoFantasia.png");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}

.fotosPlatos4{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/gambasMoriwase.jpg");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}
.fotosPlatos5{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/miniBento.jpg");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}
.fotosPlatos6{
    margin-bottom:5px;
    height: 230px;
    width: 130px;
    background-image:url("../imagenes_evaluable2/atunPicante.jpg");
    background-size: 390px ;
    background-position: center;
    background-clip:content-box;
    background-color: black;
    box-shadow:  0px 0px 5px -1px  gray ;
    border-radius: 10px;
    background-repeat: no-repeat;
  
}

.fotosPlatos1:hover{
    opacity: 0.5;
}
.fotosPlatos2:hover{
    opacity: 0.5;
}
.fotosPlatos3:hover{
    opacity: 0.5;
}
.fotosPlatos4:hover{
    opacity: 0.5;
}
.fotosPlatos5:hover{
    opacity: 0.5;
}
.fotosPlatos6:hover{
    opacity: 0.5;
}
@media screen and (max-width: 800px){ /*  tarjetas*/
    
    .fotosfuera{
       
        width: 200px; 
    }
  
    .fotosPlatos1,  .fotosPlatos2 , .fotosPlatos3 , .fotosPlatos4 , .fotosPlatos5 , .fotosPlatos6 {
   
        width: 200px;
}
}
/*  tarjetas*/


 footer{
   
    background-color: rgb(0, 0, 0);
    text-align: center;
    height: 340px;
    font-size: 12px;
    padding-top: 20px;
    margin-top: 100px;
    position: static;
    bottom: 0;
    

  
 }

 .internofooter{
     position: relative;
     height: 330px;
     overflow: hidden;
 }
 
 .footer1{
    color: #fff;
    margin-top: 40px;
    padding-bottom: 10px;
    position: absolute;
    width: 330px;
    left: 60px;
    padding-top: 6px;
   
    
 }
 .footer2{
    color: #fff;
    border-right: white 3px solid;
    border-left: white 3px solid;
    margin-top: 40px;
    padding-bottom: 10px;
    padding-right: 90px;
    padding-left: 90px;
    width: 300px;
    position:absolute;
    bottom: 150px;
    left: 470px;
   
 }


 .footer3{
     
    color: #fff;
    height: 120px;
    margin-top: 40px;
    padding-bottom: 10px;
    width: 300px;
    position:absolute;
    bottom: 150px;
    left: 1080px;

 }


 .footer4{
    
     height: 50px;
     color: #fff;
     padding-top: 30px;
     position: relative;
     top: 200px;
     left: 320px;
     width: 800px;
  
    
 }

 .footer1 span{
     color:rgb(182, 26, 26);
     font-size: 16px;
 }
 .footer1 ::first-line{
     color: #ff7d04;
     font-size: 16px;

 }

 .footer2 ::first-line{
    color: #ff7d04;
    font-size: 16px;

}

.footer3 ::first-line{ 
    color: #ff7d04;
    font-size: 16px;

}

